* {
    background-image: url("https://i.imgur.com/mR8MeHh.jpg");
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    background-color: none;
}

.top-bar {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
}

.headline {
    margin-top: 10px;
    font-size: 80px;
    text-align: center;
}

.top-bar button {
    font-size: 18px;
    height: 30px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

.posts-button {
    width: auto;
}

input {
    height: 50px;
    width: 70%;
    font-size: 30px;
    margin-bottom: 5px;
    border-color: black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.submit-registration,
.submit-login,
.blogpost-submit-button {
    font-size: 30px;
    height: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

p {
    font-size: 30px;
    text-align: center;
}

.post-list {
    margin-bottom: 20px;
}

.post-list li {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: grid;
    grid-template-areas: "a a a" "b b c" "d e f" "g g g" "h i i";
    grid-template-columns: 3fr 1fr 2fr;
}

.post-list li h2 {
    grid-area: a;
    font-size: 40px;
    margin-bottom: 10px;
}

.post-list li h3 {
    grid-area: b;
    font-size: 25px;
    margin-bottom: 5px;
    color: darkslategrey;
}

.post-list li button :first-child {
    grid-area: d;
    margin-bottom: 5px;
    width: fit-content;
    height: auto;
}

.post-list li h4 {
    grid-area: f;
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
}

.post-list li h5 {
    text-align: center;
    grid-area: c;
    font-size: 20px;
}

.posts h2 {
    text-align: center;
    font-size: 55px;
    margin: 30px;
}

.post-list li button :nth-child(2) {
    grid-area: e;
    margin-bottom: 5px;
    width: fit-content;
    height: auto;
}

button {
    border-radius: 5px;
}

.post-list li ul {
    grid-area: g;
    margin: 0;
}

.post-list li ul li p {
    font-size: 15px;
}

.post-list li button :nth-child(3) {
    grid-area: h;
    margin-bottom: 5px;
    width: fit-content;
    height: auto;
}

.post-list li button :nth-child(4) {
    grid-area: i;
    margin-bottom: 5px;
    width: fit-content;
    height: auto;
}

.update-post input {
    height: auto;
}