* {
    background-image: url("https://i.imgur.com/mR8MeHh.jpg");
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    background-color: none;
}

.top-bar {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
}

.home-button {
    margin-left: 10px;
}

.headline {
    margin-top: 10px;
    font-size: 60px;
    text-align: center;
}

.top-bar button {
    font-size: 18px;
    height: 30px;
    width: 100px;
}

input {
    height: 50px;
    width: 70%;
    font-size: 30px;
    margin-bottom: 5px;
    border-color: black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.submit-registration,
.submit-login,
.blogpost-submit-button {
    font-size: 30px;
    height: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

p {
    font-size: 30px;
    text-align: center;
}